<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.note.anonymous.brainsync"
    android:versionCode="1"
    android:versionName="1.0">
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".SearchActivity" />

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.note.anonymous.brainsync.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="adjustNothing">
            <meta-data android:name="android.app.default_searchable"
                android:value="com.note.anonymous.brainsync.SearchActivity" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.note.anonymous.brainsync.AddEntryActivity"
            android:label="@string/title_activity_add_entry"
            android:parentActivityName="com.note.anonymous.brainsync.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.note.anonymous.brainsync.SuccessActivity"
            android:label="@string/title_activity_success"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.note.anonymous.brainsync.ListEntriesActivity"
            android:label="@string/title_activity_list_entries"
            android:parentActivityName="com.note.anonymous.brainsync.MainActivity"
            android:screenOrientation="portrait"
            >
            <meta-data android:name="android.app.default_searchable"
                android:value="com.note.anonymous.brainsync.SearchActivity" />
        </activity>
        <activity
            android:name="com.note.anonymous.brainsync.DisplaySelectedItem"
            android:label="@string/title_activity_display_selected_item"
            android:parentActivityName="com.note.anonymous.brainsync.ListEntriesActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.note.anonymous.brainsync.EditActivity"
            android:label="@string/edit_button"
            android:parentActivityName="com.note.anonymous.brainsync.ListEntriesActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>

                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-shz2ba3aei84dxd" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.note.anonymous.brainsync.SearchActivity"
            android:label="@string/title_activity_search"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.note.anonymous.brainsync.Settings"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.note.anonymous.brainsync.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.note.anonymous.brainsync.MainActivity" />
        </activity>
        <activity
            android:name="com.note.anonymous.brainsync.DropboxBackup"
            android:parentActivityName="com.note.anonymous.brainsync.Settings"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.note.anonymous.brainsync.Settings" />
        </activity>
        <activity
            android:name="com.note.anonymous.brainsync.DropboxImport"
            android:label="@string/title_activity_dropbox_import"
            android:parentActivityName="com.note.anonymous.brainsync.Settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.note.anonymous.brainsync.Settings" />
        </activity>
        <activity
            android:name="com.note.anonymous.brainsync.About"
            android:label="@string/title_activity_about"
            android:parentActivityName="com.note.anonymous.brainsync.MainActivity" >

        </activity>
        <activity
            android:name="com.note.anonymous.brainsync.Feedback"
            android:label="@string/title_activity_feedback"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            android:parentActivityName="com.note.anonymous.brainsync.Settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.note.anonymous.brainsync.Settings" />
        </activity>
        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <receiver android:name="com.note.anonymous.brainsync.ViewNotes" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/view_notes_info" />
        </receiver>
        <service
            android:name="com.note.anonymous.brainsync.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>
